@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("NeueMachina-Light"),
    url("./fonts/NeueMachina-Light.otf") format("opentype");
}
@font-face {
  font-family: "Regular";
  src: local("NeueMachina-Regular"),
    url("./fonts/NeueMachina-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Ultrabold";
  src: local("NeueMachina-Light"),
    url("./fonts/NeueMachina-Ultrabold.otf") format("opentype");
}

@font-face {
  font-family: "Inter-Light";
  src: local("Inter-Light-BETA"),
    url("./fonts/Inter-Light-BETA.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"), url("./fonts/Inter-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.refBorder {
  border: solid blue 1px;
}

/************* Estilos Nav Menu ***********/

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.navMenu2 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.navMenu li {
  list-style-type: none;
  font-family: "Ultrabold";
  font-size: 16px;
  color: grey;
  padding: 3px 10px;
}

.menu1 {
  display: flex;
  /* display: none; */
}

.menu2 {
  display: flex;
  margin-right: 20px;
}

.title {
  font-family: "Ultrabold";
}
.dot {
  height: 6px;
  width: 6px;
  background-color: red;
  border-radius: 50%;
  position: relative;
}

.icon-menu {
  height: 60%;
  padding-left: 5px;
}

#hamburger-icon {
  padding-left: 20px;
}

#cruce-logo {
  margin-left: 30vw;
}

#highlight {
  color: #000;
}

#hotSale {
  border: solid red 2px;
}

#position1 {
  left: 22px;
  top: -13px;
}

#position2 {
  left: 108px;
  top: -13px;
}
#position3 {
  left: 10px;
  top: 13px;
}
#position4 {
  left: 96px;
  top: 13px;
}

#lupa {
  border: solid 2px grey;
  border-radius: 50%;
  padding: 5px;
}

#carrito {
  display: flex;
  align-items: baseline;
  color: red;
}

#highligth-morado {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #7d5a94;
  padding: 3px 0;
}

#highligth-morado p {
  font-family: Inter-Bold;
  font-size: 13px;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
}

#highligth-morado img {
  margin: 0 20px;
}

#buscador {
  display: flex;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  margin: 10px 20px;
}

#buscador p {
  color: #8c8c8c;
  margin: 10px;
}

#buscador img {
  margin: 10px;
}

/************* Estilos Sección Envio ***********/

.envio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.envio-cards {
  display: flex;
  flex: none;
  font-family: "Ultrabold";
  margin: 20px;
}

.envio p {
  margin-left: 20px;
}

#envio-icon {
  width: 30px;
}

#p-red {
  font-family: "Inter-Regular";
  font-weight: 700;
  font-size: 13px;
  color: red;
}

.linea {
  width: 1px;
  height: 50px;
  margin: 20px 0;
  rotate: 30deg;
  background: #c8c8c8;
}

/************* Estilos Sección Productos ***********/

.lista-productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.lista-productos div:nth-child(even) {
  margin-top: 80px;
}

/******* Estilos Card ********/
.prodCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  /* margin: 5px; */
}
.img-prod {
  display: flex;
  justify-content: center;
}
.prodCard img {
  width: 100%;
}
.prodCard p {
  font-family: "Inter-Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.cuotas {
  margin-top: 15px;
  color: #505050;
}
.prodCard h5 {
  font-family: "Inter-Regular";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.nombre {
  font-family: "Ultrabold";
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  color: #7d5a94;
  margin-top: 10px;
}

.precio-total {
  font-weight: 700;
}

.precio-sinDesc {
  color: #9a9a9a;
  text-decoration: line-through;
}

.precio-final {
  color: red;
  font-weight: 700;
  /* position: relative; */
}

.p-preciofinal {
height: 30px;
}

#logo-promo {
  width: 60px;
  position: relative;
  top:-230px;
}

#des-num {
  position: relative;
  font-family: "Ultrabold";
  font-weight: 800;
  font-size: 16px;
  color: #fff;
  top:-182px;
  left: 15px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  z-index: 10;
}

#des-num span {
  font-size: 10px;
}


/************* Marcas ***********/

.marcas-seccion {
  display: flex;
  flex-direction: column;
}

.marcas-seccion h4 {
  font-family: "Ultrabold";
  font-weight: 800;
  font-size: 27px;
  margin: 50px 0px 50px 40px;
  color: #7d5a94;
}

.logo-marcas {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.logo-marcas ul {
  display: flex;
  list-style-type: none;
}

.logo-marcas li {
  padding: 12px 24px;
  margin-left: 36px;
  width: 133px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

/************* Sección Juguete Día ***********/

.juguete-dia {
  display: flex;
  flex-direction: column;
  margin: 30px 40px;
}

#juguete-titulo {
  display: block;
  font-family: "Inter-Bold";
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #F26522;
  margin-bottom: 20px;
}

#card-video {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

#card-juguete {
  width: 35%;
}

#img-video {
  width: 100%;
  height: min-content;
}

/************* Sección Novedades ***********/

.novedades {
  display: grid;
  grid-template-rows: 3;
}

.nov-tit {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 100px 40px 24px 40px;
}

.nov-tit p {
  font-family: "Ultrabold";
  font-weight: 800;
  font-size: 34px;
}

.nov-tit span{
  font-size: 10px;
  color: #8C8C8C
}

.novedad-productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.novedad-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px 0 20px;
}

.novedad-control p {
  font-family: "Inter-regular";
  font-size: 14px;
  font-weight: 400;
}

.d-control {
  display: flex;
}

/************* Sección Jansport ***********/

.jansport {
  display: flex;
  flex-wrap: nowrap;
  margin: 100px 40px;
}

.jansport-img {
  display: flex;
  width: 75vw;
}
.jansport-img img {
  width: auto;
  height: min-content;
}
.jansport-card-control {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.jansport-card{
  display: flex;
  flex-wrap: nowrap;
  overflow:auto;
  width: 850px;
  margin-left: 20px;
}

.jansport-card > div {
  padding: 0;
  margin: 0px 10px;
}


#img-1{
  position: absolute;
  width:68%;
}

#img-2{
  position:relative;
  top:180px;
  left:45%;
  width: 40%;
}



/************* Sección Lo más buscado y Termina ***********/

.buscado{
  display: flex;
  flex-flow: row wrap;
  padding: 0 40px;
}

.cont-tit-buscado{
  display: flex;
  width: 172px;
  margin: 20px 0;
}

.tit-buscado{
display: flex;
font-family: "Ultrabold";
font-size: 27px;
font-weight: 800;
color: #76B043;
}

.card-buscado{
  display: flex;
  align-items:flex-start;
  margin: 20px 0;
}

.card-buscado p {
  font-size: 13px;
  font-weight: 400;
  width: 100px;
}

/************* Botones y destacados ***********/

.control {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 0px;
  width: fit-content;
  margin: 12px;
}

.pos-der {
  position: absolute;
  right: 20px;
}

.control-izq {
  transform: rotate(180deg);
}

.pos-izq {
  position: absolute;
  left: 20px;
}

.control-display {
  display: flex;
}

.control-display1 {
  display: none;
}

.control-marcas {
  display: flex;
  margin-left: 30px;
}

.control img {
  width: 15px;
  height: 15px;
}

.btn-carrito-compra {
  margin-top: 12px;
  background-color: #fff;
  padding: 12px 14px;
  border: solid 2px #76b043;
  border-radius: 5px;
}

.btn-coleccion {
  width: 175px;
  height: 48px;
  background: #f26522;
  border: 2px solid #000;
  box-shadow: 3px 3px 0px #000;
  border-radius: 6px;
  margin-top: 36px;
}

.btn-coleccion p {
  color: #fff;
  font-family: "Ultrabold";
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}

.desta-boton {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.destacado {
  display: flex;
  flex-direction: column;
}

.destacado h1 {
  font-family: "Ultrabold";
  font-weight: 800;
  font-size: 56px;
  line-height: 54px;
}

.destacado p {
  font-family: "Inter-Regular";
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin-top: 24px;
}

.icon-whatsapp {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

/************* Media Query ***********/

@media (361px <= width <= 768px) {
  .lista-productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* @media (769px <= width <= 959px) {
  .lista-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */
@media (width >= 769px) {
  #page-prod {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  /* #page-prod div:nth-child(even){
    margin-top: 80px;
  } */

  .lista-productos {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/4;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
  .desta-boton {
    grid-column: 3/5;
    grid-row: 1;
    background-color: #fff;
    padding: 50px 30px;
  }
  .prodCard {
    width: 80%;
    margin: 0px 20px;
  }
  .control-display {
    display: none;
  }

  .control-display1 {
    display: flex;
  }
  .novedad-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* .prodCard {
  border: solid red 1px;
} */
